@{
    ViewBag.Title = "mapping";
}

<h2>Instructions to export database to csv for mapping</h2>

<h4>Currently, the application lacks functionality to export the database to a csv file for mapping, but can be achieved through the interface on the back-end. Here are the instructions to access the database back end and export a csv file.</h4>

<p>
    If the CMRDB Backend shortcut is installed, click that and you will be brought to the web page title "phpMyAdmin". In the left-hand container directly under the phpMyAdmin logo, click 'curriculum'.
</p>
<p>
    In the tool bar at the top, click the button "Query". Where it says 'Saved bookmarked search', click the dropdown and select "Mapping Document". If there is an error message, click ignore all. From here, scroll to the bottom and select "Submit Query".
</p>
<p>
    That query selected all the columns needed for the mapping. If more or less columns are required, the query can be motified. Scroll to the buttom to the section that says "Query results operations". Cick "Export". You are then brought to a screen to configure your file before export.
</p>
<p>
    Under Existing templates, click the dropdown and select "Mapping document". To include column headers, click "Custom" under export method. For format, click the dropdown and select "CSV". Scroll to the bottom of the page and select the checkbox "Put column names in the first row". Finally, hit the go button and the csv file will be downloaded.
</p>