@model CMR_Curriculum_Database.Models.category

@{
    ViewBag.Title = "Details";
}



<div>
    <hr />
    <dl class="dl-horizontal">
        
        
        <h2><strong>@Html.DisplayFor(model => model.Category1)</strong></h2>

    </dl>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID })
    <table class="table">
        <tr>
            <th>
                Associated Modules
            </th>
        </tr>

        @foreach (var item in Model.category_map)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.content.Module_Name___CURRENT).ToHtmlString(), "../content/Details", new { id=item.content.ContentID })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
